:root {
    --color-lightText: #626161;
    --color-primaryBackground: #1a1b1e;
    --color-lighterBackground: #222327;
    --color-primary: #1971c2;
    --color-primaryDark: #004994;

    --color-error: #e03131;
    --color-lightError: #df5656;

    --font-primary: 'Hind Siliguri', sans-serif;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
}

main {
    width: 100%;
    margin: 0 auto;

    @media (min-width: 1280px) {
        width: 60%;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
